src/main/mule/reprocess-salesorder-sfdc-to-netsuite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config_delete" doc:name="HTTP Listener config" doc:id="de222349-8e6d-49d6-8c7d-52bc6019bdca" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="reprocess-salesorder-sfdc-to-netsuiteFlow" doc:id="c55ec4a7-867b-4eaa-beae-001d002af305" >
		<scheduler doc:name="Scheduler" doc:id="6bd365b2-ac05-44ef-9994-297560dd824a" >
			<scheduling-strategy >
				<cron expression="${reprocess.samples.sfdc.netsuite.cron}" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="getSalesOrderInSfdcByStatusFlow" doc:id="a691bb07-5e71-448b-84d2-5e6177f4be63" name="getSalesOrderInSfdcByStatusFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="1546459a-e553-48f4-b5a7-6dd051f40890" message="------------RECEIVED FROM SALESFORCE----------------"/>
		<logger level="INFO" doc:name="Logger" doc:id="9860f488-74a1-4abf-b1c7-f90ae165c4e1" message='#[%dw 2.0
import * from dw::core::Strings
output application/json 
fun dasherizeAndUpper(country) = upper(underscore(country))

---
payload map {
	"address": {
		
		"country_dasherize": dasherizeAndUpper($.Country_Name__c),
		"country": $.Country_Name__c
		
	}
}]'/>
		<ee:transform doc:name="Transform Message" doc:id="e8bba55b-e12c-48ac-968e-4fb36cde7bfb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json 
fun dasherizeAndUpper(country) = upper(underscore(country))
fun addNotesInItems(itemList, notes) = [{
	"Product_Name_Sync__c" : "description",
	"description" : notes,
	"Item_No__c": "description",
	"Product_External_Id__c": "-3"
	
} ] ++ itemList as Array
---
payload map {
	"id": $.Id,
	"brand": $.Brand__c,
	"division": $.Division__c,
	"poNumber": $.PO_Num__c,
	"salesRepId": $.SalesRep_External_Id__c,
	"notes": $.Notes__c,
	//"productList": (if ( $.Notes__c != null) addNotesInItems($.Products__r, $.Notes__c) else $.Products__r) map {
	"productList": ($.Products__r) map {
		"productName": $.Product_Name_Sync__c,
		"productId": $.Item_No__c,
		"quantity": $.Quantity__c,
		"internalId": $.Product_External_Id__c,
		"description": $.description
	},
	"address": {
		"zip": $.Zip__c,
		"country": dasherizeAndUpper($.Country_Name__c),
		"addr2": $.Address_2__c,
		"city": $.City__c,
		"addr1": $.Account_Address__c,
		"addr3": null,
		"addrPhone": $.Contact_Phone__c,
		"addressee": $.Company_Name__c,
		"attention": $.Attention_To__c,
		"state": $.State__c
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2681f676-7043-4105-aa5a-5e112c0312de">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="retrySalesTransactionStatus"><![CDATA[%dw 2.0
output application/json
---
{
	total: payload.*id,
	success: [],
	fail: []
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5815e7e7-ef7d-463f-b0ce-6a7dc3e27d7c" message="----------------ADDRESS AFTER TRANSFORMATION TO NETSUITE DATA FORMAT----------------#[payload.address.country]"/>
		<logger level="INFO" doc:name="Logger" doc:id="6b134058-e94d-44c7-ad29-88eee223b462" message="eligible salesOrder to be reprocessed = #[payload.*id]"/>
		<foreach doc:name="For Each" doc:id="6d7969a0-1662-4541-bc52-a2fef77323eb" >
			<ee:transform doc:name="Transform Message" doc:id="95c7736a-8b05-4636-a5b8-f0e66cd52efd" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[payload]]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="salesorder-sfdc-to-netsuiteFlow" name="salesorder-sfdc-to-netsuiteFlow"/>
		</foreach>
		<choice doc:name="Choice" doc:id="3fd6cb18-3279-4ea0-8810-26fabfbe6e90" >
			<when expression="#[sizeOf(vars.retrySalesTransactionStatus.fail) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="494dfb57-9767-4013-8f74-5b2ab76ad25c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"emailBody": p('secure::samples.body') ++ write(vars.retrySalesTransactionStatus.fail,'application/json'),
	"subject": upper(p('mule.env')) ++ ": " ++ p('secure::samples.subject'),
	"toEmails": p('secure::samples.to.emailList')
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="send-email-notificationFlow" doc:id="9060c030-9165-403e-a50b-a54b845a6788" name="send-email-notificationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="b800bc50-108d-455a-b62d-5eff482656d6" message="All the errored SalesOrders have been processed successfully."/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="02e4b6eb-3c60-4333-9d00-1681317fbb38" type="ANY">
				<logger level="ERROR" doc:name="Logger" doc:id="39fb5ffe-1195-45a4-a675-c74fdb035577" message="Error while reprocessing salesorders."/>
				<ee:transform doc:name="Transform Message" doc:id="c82a6b84-f211-4483-b533-88154be01644" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"emailBody": p('secure::samples.body') ++ ": " ++ error.description,
	"subject": upper(p('mule.env')) ++ ": " ++ p('secure::samples.subject'),
	"toEmails": p('secure::samples.to.emailList')
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="send-email-notificationFlow" doc:id="6ecdc734-d3ba-4c0f-91cb-9ebffea1f55b" name="send-email-notificationFlow"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
